/* General Styles */
/* line 3, content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/drew\.michael\/projects\/nrel-sp\/docroot\/profiles\/custom\/nrel_solarpaces_profile\/themes\/custom\/nrel_solarpaces_theme\/less\/content\.less}line{font-family:\000033}}
.main-container {
  padding: 2em 0;
}
/* line 7, content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/drew\.michael\/projects\/nrel-sp\/docroot\/profiles\/custom\/nrel_solarpaces_profile\/themes\/custom\/nrel_solarpaces_theme\/less\/content\.less}line{font-family:\000037}}
article footer {
  background: #fff;
  color: #333;
  border: none;
  padding: 0;
}
/* line 14, content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/drew\.michael\/projects\/nrel-sp\/docroot\/profiles\/custom\/nrel_solarpaces_profile\/themes\/custom\/nrel_solarpaces_theme\/less\/content\.less}line{font-family:\0000314}}
img.img-responsive {
  width: 100%;
}
/* line 18, content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/drew\.michael\/projects\/nrel-sp\/docroot\/profiles\/custom\/nrel_solarpaces_profile\/themes\/custom\/nrel_solarpaces_theme\/less\/content\.less}line{font-family:\0000318}}
.node--type-project .radix-layouts-sidebar .panel-panel-inner {
  background: #eee;
}
/* line 22, content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/drew\.michael\/projects\/nrel-sp\/docroot\/profiles\/custom\/nrel_solarpaces_profile\/themes\/custom\/nrel_solarpaces_theme\/less\/content\.less}line{font-family:\0000322}}
.navbar-wrapper {
  display: none;
}
/* Main Nav */
/* line 30, content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/drew\.michael\/projects\/nrel-sp\/docroot\/profiles\/custom\/nrel_solarpaces_profile\/themes\/custom\/nrel_solarpaces_theme\/less\/content\.less}line{font-family:\0000330}}
#block-main-navigation .nav > li {
  width: 100%;
}
/* line 32, content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/drew\.michael\/projects\/nrel-sp\/docroot\/profiles\/custom\/nrel_solarpaces_profile\/themes\/custom\/nrel_solarpaces_theme\/less\/content\.less}line{font-family:\0000332}}
#block-main-navigation .nav > li > a {
  border-bottom: 1px solid #d1d5d8;
  border-top: 0;
  font-family: Roboto;
  line-height: 10px;
}
/* line 39, content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/drew\.michael\/projects\/nrel-sp\/docroot\/profiles\/custom\/nrel_solarpaces_profile\/themes\/custom\/nrel_solarpaces_theme\/less\/content\.less}line{font-family:\0000339}}
#block-main-navigation .nav > li:first-child > a {
  border-top: solid 3px #d1d5d8;
}
/* line 43, content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/drew\.michael\/projects\/nrel-sp\/docroot\/profiles\/custom\/nrel_solarpaces_profile\/themes\/custom\/nrel_solarpaces_theme\/less\/content\.less}line{font-family:\0000343}}
#block-main-navigation .nav > li.active a,
#block-main-navigation .nav > li.active a:visited,
#block-main-navigation .nav > li a:focus,
#block-main-navigation .nav > li a:hover {
  background-color: #0079c2;
  color: #fff;
}
/* line 47, content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/drew\.michael\/projects\/nrel-sp\/docroot\/profiles\/custom\/nrel_solarpaces_profile\/themes\/custom\/nrel_solarpaces_theme\/less\/content\.less}line{font-family:\0000347}}
#block-main-navigation .nav > li a:visited {
  color: #0a87d3;
}
/* line 49, content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/drew\.michael\/projects\/nrel-sp\/docroot\/profiles\/custom\/nrel_solarpaces_profile\/themes\/custom\/nrel_solarpaces_theme\/less\/content\.less}line{font-family:\0000349}}
#block-main-navigation .nav > li a:visited:hover {
  color: #fff;
}
/* Right Sidebar */
/* line 60, content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/drew\.michael\/projects\/nrel-sp\/docroot\/profiles\/custom\/nrel_solarpaces_profile\/themes\/custom\/nrel_solarpaces_theme\/less\/content\.less}line{font-family:\0000360}}
.block-region-sidebar section {
  background: #f4f4f4;
  font-size: 14px;
  border-top: solid 1px #ccc;
}
/* line 65, content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/drew\.michael\/projects\/nrel-sp\/docroot\/profiles\/custom\/nrel_solarpaces_profile\/themes\/custom\/nrel_solarpaces_theme\/less\/content\.less}line{font-family:\0000365}}
.block-region-sidebar .block-block-content284e40b2-410a-4b16-813b-46e660ef256b {
  padding: 1em;
}
/* line 67, content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/drew\.michael\/projects\/nrel-sp\/docroot\/profiles\/custom\/nrel_solarpaces_profile\/themes\/custom\/nrel_solarpaces_theme\/less\/content\.less}line{font-family:\0000367}}
.block-region-sidebar .block-block-content284e40b2-410a-4b16-813b-46e660ef256b .block-title {
  color: #333;
  font-size: 24px;
  margin-top: 0;
}
/* line 73, content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/drew\.michael\/projects\/nrel-sp\/docroot\/profiles\/custom\/nrel_solarpaces_profile\/themes\/custom\/nrel_solarpaces_theme\/less\/content\.less}line{font-family:\0000373}}
.block-region-sidebar .block-block-content51ee03b7-8fdd-4bd6-9abd-f7f975d3fa3f {
  border-top: none;
}
/* line 75, content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/drew\.michael\/projects\/nrel-sp\/docroot\/profiles\/custom\/nrel_solarpaces_profile\/themes\/custom\/nrel_solarpaces_theme\/less\/content\.less}line{font-family:\0000375}}
.block-region-sidebar .block-block-content51ee03b7-8fdd-4bd6-9abd-f7f975d3fa3f .block-title {
  font-family: 'Droid Serif';
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  background: #ddd;
  color: #000066;
  line-height: 2;
  margin: 0;
}
/* line 86, content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/drew\.michael\/projects\/nrel-sp\/docroot\/profiles\/custom\/nrel_solarpaces_profile\/themes\/custom\/nrel_solarpaces_theme\/less\/content\.less}line{font-family:\0000386}}
.block-region-sidebar .block-block-content02e730f7-b507-4edd-bdcd-7672c2f54b63 {
  background: #fff;
}
/* line 88, content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/drew\.michael\/projects\/nrel-sp\/docroot\/profiles\/custom\/nrel_solarpaces_profile\/themes\/custom\/nrel_solarpaces_theme\/less\/content\.less}line{font-family:\0000388}}
.block-region-sidebar .block-block-content02e730f7-b507-4edd-bdcd-7672c2f54b63 .field--item {
  border-left: none;
  margin-top: .5em;
  font-size: 1.1em;
  padding-left: 0;
}
/* line 95, content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/drew\.michael\/projects\/nrel-sp\/docroot\/profiles\/custom\/nrel_solarpaces_profile\/themes\/custom\/nrel_solarpaces_theme\/less\/content\.less}line{font-family:\0000395}}
.block-region-sidebar .block-block-contentc67b3b6a-b77c-40f0-9d6d-7a5439a9613b {
  font-weight: bold;
  font-size: 1.25em;
  text-align: center;
  background: #ddd;
  color: #000066;
  padding: 0 !important;
}
/* line 103, content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/drew\.michael\/projects\/nrel-sp\/docroot\/profiles\/custom\/nrel_solarpaces_profile\/themes\/custom\/nrel_solarpaces_theme\/less\/content\.less}line{font-family:\00003103}}
.block-region-sidebar .field--label {
  width: 40%;
  text-align: right;
}
/* line 107, content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/drew\.michael\/projects\/nrel-sp\/docroot\/profiles\/custom\/nrel_solarpaces_profile\/themes\/custom\/nrel_solarpaces_theme\/less\/content\.less}line{font-family:\00003107}}
.block-region-sidebar .field--item,
.block-region-sidebar .field__items {
  float: left;
  padding-left: 5px;
  border-left: solid 1px #ccc;
  width: 60%;
}
/* line 113, content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/drew\.michael\/projects\/nrel-sp\/docroot\/profiles\/custom\/nrel_solarpaces_profile\/themes\/custom\/nrel_solarpaces_theme\/less\/content\.less}line{font-family:\00003113}}
.block-region-sidebar .field--item.field--name-field-photo,
.block-region-sidebar .field--item.field--type-text-with-summary {
  width: 100%;
}
/* Fields */
/* line 122, content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/drew\.michael\/projects\/nrel-sp\/docroot\/profiles\/custom\/nrel_solarpaces_profile\/themes\/custom\/nrel_solarpaces_theme\/less\/content\.less}line{font-family:\00003122}}
.page-node-type-project .block-region-contentmain .field--label,
.page-node-type-project .block-region-header .field--label {
  width: 240px;
  font-weight: normal;
}
/* line 127, content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/drew\.michael\/projects\/nrel-sp\/docroot\/profiles\/custom\/nrel_solarpaces_profile\/themes\/custom\/nrel_solarpaces_theme\/less\/content\.less}line{font-family:\00003127}}
.page-node-type-project .block-region-contentmain .field--label-inline > .field--item,
.page-node-type-project .block-region-header .field--label-inline > .field--item,
.page-node-type-project .block-region-contentmain .field--label-inline .field__items,
.page-node-type-project .block-region-header .field--label-inline .field__items {
  width: 300px;
  display: inline-block;
}
/* line 136, content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/drew\.michael\/projects\/nrel-sp\/docroot\/profiles\/custom\/nrel_solarpaces_profile\/themes\/custom\/nrel_solarpaces_theme\/less\/content\.less}line{font-family:\00003136}}
.field-collection-item--name-field-lat-long-location .layout__region--content div,
.field--name-field-owners .field__items .field--item {
  float: left;
  margin-right: .25em;
}
/* line 143, content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/drew\.michael\/projects\/nrel-sp\/docroot\/profiles\/custom\/nrel_solarpaces_profile\/themes\/custom\/nrel_solarpaces_theme\/less\/content\.less}line{font-family:\00003143}}
.field-collection-item--name-field-lat-long-location .field {
  display: inline-block;
}
/* line 148, content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/drew\.michael\/projects\/nrel-sp\/docroot\/profiles\/custom\/nrel_solarpaces_profile\/themes\/custom\/nrel_solarpaces_theme\/less\/content\.less}line{font-family:\00003148}}
.block-entity-fieldnodefield-status-date {
  margin-top: 1em;
}
/* line 152, content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/drew\.michael\/projects\/nrel-sp\/docroot\/profiles\/custom\/nrel_solarpaces_profile\/themes\/custom\/nrel_solarpaces_theme\/less\/content\.less}line{font-family:\00003152}}
.field--name-field-latit:after {
  content: ',';
}
/* line 156, content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/drew\.michael\/projects\/nrel-sp\/docroot\/profiles\/custom\/nrel_solarpaces_profile\/themes\/custom\/nrel_solarpaces_theme\/less\/content\.less}line{font-family:\00003156}}
.field--name-field-project-type .field--item,
.field--name-field-storage-description .field--item {
  float: left;
  width: 50%;
}
/* Media Queries */
@media (min-width: 768px) {
  /* line 165, content.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/drew\.michael\/projects\/nrel-sp\/docroot\/profiles\/custom\/nrel_solarpaces_profile\/themes\/custom\/nrel_solarpaces_theme\/less\/content\.less}line{font-family:\00003165}}
  header .logo {
    float: right;
    width: 360px;
  }
}
/*# sourceMappingURL=content.css.map */