<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {
        'packages': ['geochart'],
        // Note: you will need to get a mapsApiKey for your project.
        // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
        'mapsApiKey': 'AIzaSyDiwukwaUSt0fHgnBWTGB9R7djNuaFkvv0 '
    });
    google.charts.setOnLoadCallback(drawRegionsMap);

    function drawRegionsMap() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Country');
        data.addColumn('number', 'Value');
        data.addColumn({type: 'string', role: 'tooltip'});
        data.addRows([
            {% autoescape false %}
            {{ countrydata }}
            {% endautoescape %}
        ]);

        var options = {
            displayMode: 'regions',
            datalessRegionColor: '#CCC',
            colorAxis: {minValue: 0, maxValue: 0,  colors: ['#FFB400', '#FFB400']},
            legend: 'none'
        };

        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

        google.visualization.events.addListener(chart, 'select', selectHandler);

        function selectHandler() {
            var selectedItem = chart.getSelection()[0];
            if (selectedItem) {
                var countrycode = data.getValue(selectedItem.row, 0);
                window.location.href = 'by-country/' + countrycode;
            }
        }

        chart.draw(data, options);

    }
</script>
<div id="regions_div" style="width: 730px; height: 398px;"></div>